@tailwind base;
@tailwind components;
@tailwind utilities;

.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 15px;
  row-gap: 15px;
  max-width: 1200px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
